<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 功能模块:  -->
<mapper namespace="UserRoleEntityMapper" >

	<!--通用表字段列表-->
	<resultMap id="BaseResultMap" type="com.skycloud.admin.entity.UserRoleEntity">
		<result column="ID" property="id" jdbcType="INTEGER"/>
		<result column="USER_ID" property="userId" jdbcType="INTEGER"/>
		<result column="ROLE_ID" property="roleId" jdbcType="INTEGER"/>
    </resultMap>
    <!--通用表字段列表-->
    
	<!--user customize code start-->

	<!--user customize code end  -->
    
	<!--通用查询条件组装-->
	<sql id="whereContation">
			<if test="id != null">
				AND  ID=#{id,jdbcType=INTEGER}  
			</if>
			<if test="userId != null">
				AND  USER_ID=#{userId,jdbcType=INTEGER}  
			</if>
			<if test="roleId != null">
				AND  ROLE_ID=#{roleId,jdbcType=INTEGER}  
			</if>
	</sql>
	
	<!--查询字段列表拼装-->
	<sql id="baseColumnList">
			 ID		 
			,USER_ID		 
			,ROLE_ID		 
	</sql>
	
	<!--
	方法名称: insert
	调用路径: UserRoleEntityMapper.insert
	开发信息: 
	处理信息: 保存记录
	-->
 	<insert id="insert" parameterType="com.skycloud.admin.entity.UserRoleEntity" >
	 	INSERT  INTO  USER_ROLE
	 		<trim prefix="(" suffix=")" suffixOverrides=",">
					<if test="id != null">
					ID,
					</if>
					<if test="userId != null">
					USER_ID,
					</if>
					<if test="roleId != null">
					ROLE_ID,
					</if>
			</trim>
			<trim prefix="values (" suffix=")" suffixOverrides=",">
					<if test="id != null">
					 #{id,jdbcType=INTEGER},
					</if>
					<if test="userId != null">
					 #{userId,jdbcType=INTEGER},
					</if>
					<if test="roleId != null">
					 #{roleId,jdbcType=INTEGER},
					</if>
			</trim>
	</insert>
	
	<!--
	方法名称: update
	调用路径: UserRoleEntityMapper.update
	开发信息: 
	处理信息: 修改记录
	-->
 	<update id="update" parameterType="com.skycloud.admin.entity.UserRoleEntity" >
		UPDATE   USER_ROLE  	 
	  	<set> 
				<if test="userId != null">
			 		USER_ID = #{userId,jdbcType=INTEGER},
			 	</if>
				<if test="roleId != null">
			 		ROLE_ID = #{roleId,jdbcType=INTEGER},
			 	</if>
		</set>
		WHERE  
			ID = #{id,jdbcType=INTEGER}		 
	</update>
	
	<!--
	方法名称: updateBak
	调用路径: UserRoleEntityMapper.updateBak
	开发信息: 
	处理信息: 修改记录
	-->
 	<update id="updateBak" parameterType="com.skycloud.admin.entity.UserRoleEntity" >
		UPDATE   USER_ROLE  	 
	  	<set> 
			 		USER_ID = #{userId,jdbcType=INTEGER},
			 		ROLE_ID = #{roleId,jdbcType=INTEGER},
		</set>
		WHERE  
			ID = #{id,jdbcType=INTEGER}		 
	</update>
	
	<!--
	方法名称: deleteByPriKey
	调用路径:UserRoleEntityMapper.deleteByPriKey
	开发信息: 
	处理信息: 删除记录
	-->
	<delete id="deleteByPriKey" parameterType="com.skycloud.admin.entity.UserRoleEntity">
		DELETE 	FROM USER_ROLE 	 
		WHERE 
			ID = #{id,jdbcType=INTEGER}		 
	</delete>
	
	<!--
	方法名称: findByPriKey
	调用路径: UserRoleEntityMapper.findByPriKey
	开发信息: 
	处理信息: 根据主键查询记录
	-->
	<select id="findByPriKey" parameterType="com.skycloud.admin.entity.UserRoleEntity" resultType="com.skycloud.admin.entity.UserRoleEntity">
		SELECT   
		   <include refid="baseColumnList"/>
		FROM   USER_ROLE         
		WHERE
				ID = #{id,jdbcType=INTEGER}		 
	</select>
	
	<!--
	方法名称: getPagenationList
	调用路径: UserRoleEntityMapper.getPagenationList
	开发信息: 
	处理信息: 分页查询记录
	-->
	<select id="getPagenationList" parameterType="com.skycloud.admin.entity.UserRoleEntity" resultType="com.skycloud.admin.entity.UserRoleEntity">
		<!-- 分页条 -->
		<include refid="CommonEntity.paginationPrefix"/>
		SELECT   
	 		<include refid="baseColumnList"/>
		FROM   USER_ROLE          
		WHERE 1=1
		 	<include refid="whereContation"/>
		 	<if test="columnSort != null">
		 	ORDER BY ${columnSort}
		 	</if>
		<!-- 分页条 -->
		<include refid="CommonEntity.paginationSuffix"/>
	</select>
	
	<!--
	方法名称: getPagenationList-count
	调用路径: UserRoleEntityMapper.getPagenationList-count
	开发信息: 
	处理信息: 查询记录数
	-->
	<select id="getPagenationList-count" parameterType="com.skycloud.admin.entity.UserRoleEntity" resultType="int">
		SELECT count(1)  FROM  USER_ROLE     
		 WHERE 1=1
		<include refid="whereContation"/>
	</select>
	
	<!--
	方法名称: getList
	调用路径: UserRoleEntityMapper.getList
	开发信息: 
	处理信息: 根据条件查询记录
	-->
	<select id="getList" parameterType="com.skycloud.admin.entity.UserRoleEntity" resultType="com.skycloud.admin.entity.UserRoleEntity">
	   SELECT   
	   		<include refid="baseColumnList"/>
	   FROM   USER_ROLE           
	   WHERE 1=1
		<include refid="whereContation"/>
		<if test="columnSort != null">
		 	ORDER BY ${columnSort}
		</if>
		limit 0,100
	</select>
	
	
	<!--
	方法名称: batchInsert
	调用路径: UserRoleEntityMapper.batchInsert
	开发信息: 
	处理信息: 保存记录
	-->
 	<insert id="batchInsert" parameterType="java.util.List" >
	 	INSERT  INTO  USER_ROLE
	 		<trim prefix="(" suffix=")" suffixOverrides=",">
					ID,
					USER_ID,
					ROLE_ID,
			</trim>
			values
			<foreach collection="list" item="entity" separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
					 #{entity.id,jdbcType=INTEGER},
					 #{entity.userId,jdbcType=INTEGER},
					 #{entity.roleId,jdbcType=INTEGER},
			</trim>
			</foreach>
	</insert>
	<!--
	方法名称: batchUpdate
	调用路径: UserRoleEntityMapper.batchUpdate
	开发信息: 
	处理信息: 修改记录
	-->
 	<update id="batchUpdate" parameterType="java.util.List" >
 		<foreach collection="list" item="entity" separator=",">
		UPDATE   USER_ROLE  	 
	  	<set> 
				<if test="userId != null">
			 		USER_ID = #{entity.userId,jdbcType=INTEGER},
			 	</if>
				<if test="roleId != null">
			 		ROLE_ID = #{entity.roleId,jdbcType=INTEGER},
			 	</if>
		</set>
		WHERE  
			ID = #{id,jdbcType=INTEGER}		 
		</foreach>
	</update>
</mapper>